<%= render 'shared/banner' %>
<div class="row">
  <% @campaigns.each do |campaign| %>
  <div class="col-xs-12 col-sm-4">
    <%= link_to campaign_path(campaign) do %>
      <div class="card">
        <div class="card-contents">
          <h3><%= campaign.title %></h3>
          <hr width="70%">
          <h5 class="tags"><%= campaign.tags %></h5>
          <p>Length: <%= campaign.estimated_duration.to_s + " Months" %></p>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>


<div class="new-campaign-banner">
  <% if policy(Campaign).new? %>
    <p><%= link_to "You are an Expert! Create a New Campaign", new_campaign_path %></p>
  <% end %>
</div>
