<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://source.unsplash.com/random/1500x300');">
  <div class="banner-content">
    <h1><%= @campaign.title %></h1>
    <p class="tags"><%= @campaign.tags %></p>
    <p>Length: <%= @campaign.estimated_duration.to_s + " Months" %></p>
  </div>
</div>
<div class="comments-banner">
  <p><%= link_to "Add a Comment", new_campaign_comment_path(@campaign) %></p>
  <% @campaign.comments.each do |c| %>
    <p><%= c.title %></p>
    <h6 style="font-size: 10px">Created by:<%= c.user.username %> at <%= c.created_at %></h6>
  <% end %>
</div>
<div class="todo-banner">
<p>To Do Lists</p>
  <div class="row">
<% @campaign.todos.each do |t| %>
    <div class="col-xs-12 col-sm-4">
  <div class="todo-card todo-card-corner">
    <p><%= t.items %></p>
    <% if t.user.expertise.include? "novice" %>
    <p><%= link_to "Add a Comment", new_campaign_todo_comment_path(@campaign, t) %></p>
    <% end %>
    <% t.comments.each do |c| %>
      <p><%= c.title %></p>
    </div>
    <% end %>
  </div>
  </div>
<% end %>

</div>
<p><%= link_to "Add a Todo List", new_campaign_todo_path(@campaign) %></p>
